#editor,
#preview {
  height: 100%;
}

#preview {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  overflow: scroll;
}

.pane-title {
  background-color: slategray;
  color: white;
  text-align: center;
  font-weight: bold;
}

.pane {
  box-shadow: 0px 5px 10px black;
  height: 100%;
}